:root>* {
    /* Link hover color */
    --md-accent-fg-color: #d6a400 !important;
    /* Title bar color */
    --md-primary-fg-color: #ffdf77 !important;
}

/* Fix spacing around nested nav items */
.md-nav__item--nested {
    padding-bottom: 8px !important;
}

.md-header {
    /* Text colour on header */
    color: #000000 !important;
}

div.md-header__topic:first-child {
    font-weight: normal;
}

div.doc-contents:not(.first) {
    padding-left: 2rem;
    border-left: 0.1rem solid var(--md-typeset-table-color);
}
