name: Generate documentation dryrun
permissions:
  contents: read
on:
  # Documentation can be either manually updated or is automatically updated
  # when pushed to main branch
  workflow_dispatch:
  push:
    branches:
      - '*'
      - '!main'

jobs:
  deploy:
    name: Build documentation site
    runs-on: ubuntu-latest
    steps:
      # Checkout repository including submodules
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      # Setup Python
      - name: Setup Python
        id: python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      # Install dependencies using Poetry
      - uses: Gr1N/setup-poetry@v9
      - uses: actions/cache@v4
        with:
            path: ~/.cache/pypoetry/virtualenvs
            key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
      - run: poetry --version
      - run: poetry install

      # Build documentation to ./site/ directory
      - name: Build Documentation
        id: build
        run: poetry run mkdocs build

      # Upload build outputs
      - name: Upload build artifacts HTML
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: HTML output
          path: site/*
